# Files from build
**/*.o
**/*.s
src/.depend

# Built binary
src/stockfish*
src/-lstdc++.res

# Neural network for the NNUE evaluation
**/*.nnue

/.vs
/.vs/slnx.sqlite
/.vs/Stockfish
/.vs/Stockfish/FileContentIndex
/.vs/Stockfish/FileContentIndex/418234b3-9c3d-417b-8c81-fd867e314e56.vsidx
/.vs/Stockfish/FileContentIndex/568e595d-a9f1-451d-a582-e0a8dd58b9f7.vsidx
/.vs/Stockfish/FileContentIndex/659b65c9-a4ee-4066-a5ee-9d871beda4f0.vsidx
/.vs/Stockfish/FileContentIndex/82b6d504-1845-4a6b-823c-cca5198fea47.vsidx
/.vs/Stockfish/FileContentIndex/89a4c962-469e-4d85-9cf2-786be7df9dfc.vsidx
/.vs/Stockfish/v17
/.vs/Stockfish/v17/.wsuo
/.vs/Stockfish/v17/Browse.VC.db
/.vs/Stockfish/v17/Browse.VC.db-shm
/.vs/Stockfish/v17/Browse.VC.db-wal
/.vs/Stockfish/v17/Browse.VC.opendb
/.vs/Stockfish/v17/ipch/AutoPCH
/.vs/Stockfish/v17/ipch/AutoPCH/13fd8ddb3c2511a5
/.vs/Stockfish/v17/ipch/AutoPCH/13fd8ddb3c2511a5/VCTMP1724_653317.SEARCH.00000000.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/24db0d082d35e126
/.vs/Stockfish/v17/ipch/AutoPCH/24db0d082d35e126/VCTMP24028_233298.SEARCH.00000000.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/43da38a4158b7763
/.vs/Stockfish/v17/ipch/AutoPCH/43da38a4158b7763/VCTMP1724_935932.SEARCH.DAA8D826.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/5b4f3cd833f48800
/.vs/Stockfish/v17/ipch/AutoPCH/5b4f3cd833f48800/VCTMP1724_303903.SEARCH.00000000.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/959f34ec2e8842e5
/.vs/Stockfish/v17/ipch/AutoPCH/959f34ec2e8842e5/TIMEMAN.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/ae70a553b08786b3
/.vs/Stockfish/v17/ipch/AutoPCH/ae70a553b08786b3/VCTMP10416_355091.SEARCH.00000000.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/afb528bcf06d6353
/.vs/Stockfish/v17/ipch/AutoPCH/afb528bcf06d6353/VCTMP1724_812462.SEARCH.00000000.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/ca1da576a4c71cf8
/.vs/Stockfish/v17/ipch/AutoPCH/ca1da576a4c71cf8/SEARCH.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/ce6725e2ce98f7d7
/.vs/Stockfish/v17/ipch/AutoPCH/ce6725e2ce98f7d7/VCTMP24028_540034.SEARCH.00000000.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/d29c7dba06aa9e62
/.vs/Stockfish/v17/ipch/AutoPCH/d29c7dba06aa9e62/VCTMP1724_35177.SEARCH.3F882AAB.ipch
/.vs/Stockfish/v17/ipch/AutoPCH/d63c1e67c715a960
/.vs/Stockfish/v17/ipch/AutoPCH/d63c1e67c715a960/VCTMP1724_807094.SEARCH.00000000.ipch
/.vs/VSWorkspaceState.json
